<style>
    body {
       margin:0;
       
    }
    a {
       color:black;
       text-decoration:none;
    }
    h1 {
       font-size:45px;
       text-align: center; 
       border-bottom:1px solid gray;
       margin:0;
       padding: 20px; 
    }
    #목차{
       border-right: 1px solid gray;
       width:100px;
       margin:0;
       padding:20px;
       padding-left:33px;
    }
    #grid{
       display:grid;
       grid-template-columns: 150px 1fr
    }
    #grid #article{
       padding-left:25px;
    }
    @media(max-width:800px){
       #grid{
       display:block;
       }
       #목차{
          border-right:none;
       }
       h1 {
          border-bottom: none;
       }
    }

    #article a{
        font-weight: bold;
    }
    a {
        color: inherit; /* 부모 요소(body)의 color 속성을 따름 */
    }
 </style>